/Debug
/Marius.Pinta.sdf
*.suo
/Marius.Pinta/Debug
*.user
/Marius.Pinta/Release
/Release
/Marius.Pinta.opensdf
/Marius.Pinta.Reflection.Tests/bin
/Marius.Pinta.Reflection.Tests/obj
/Marius.Pinta.Reflection/bin
/Marius.Pinta.Reflection/obj
/Marius.Script.Test/bin
/Marius.Script.Test/obj
/Marius.Script/bin
/Marius.Script/obj
/Tools/gplex/project/obj
/Tools/gppg/project/obj
/Tools/Marius.Build/Marius.Build.Tasks/obj
/Marius.Pinta.Test.Files/*.actual
/Marius.Pinta.Sample.sdf
/Marius.Pinta.Sample.opensdf
/Marius.Pinta.Test.Files/sample.receipt
/Marius.Pinta/build
/Marius.Pinta/pinta
/Marius.Pinta/pinta.exe
/Marius.Pinta/ninja
/Marius.Pinta.Test.Files/actual.receipt
/Marius.Pinta.Library.sdf
/Marius.Pinta.Library.opensdf
/ipch
/Marius.Pinta.Managed.Sample/bin
/Marius.Pinta.7z
/Marius.Pinta.Managed.Sample/obj
/Marius.Pinta.Managed/Debug
/Marius.Pinta.Managed.sdf
/Marius.Pinta.Managed/Release
/Marius.Pinta.Managed.opensdf
/debug.log
/LLVM-Debug
/LLVM-Release
/Marius.Pinta.Managed/LLVM-Debug
/Marius.Pinta.Managed/LLVM-Release
/Marius.Pinta/LLVM-Debug
/Marius.Pinta/LLVM-Release
/Marius.Pinta.Script/bin
/Marius.Pinta.Script/obj
/.vs
/.git
/Marius.Pinta.VC.opendb
/Marius.Pinta.VC.db
/Marius.Pinta.VC.VC.opendb
/*.7z
/Marius.Pinta.Web.Debugger/Bin
/Marius.Pinta.Debugger/Debug
/Marius.Pinta.Debugger/Release
/Marius.Pinta.Debugger/x64
/x64
/.gitignore
.idea
*.cmake
CMakeCache.txt
CMakeFiles
*.so
Makefile
cmake-build-debug
.vshistory
.plastic
